{% extends 'blog/base.html' %}

{% block content %}
<div class="centerstage">
    {% for post in post_list %}
         <div class="card my-3">
             <div class="card-body">
                 <h5 class="card-title">{{post.title}}</h5>
                  <p class="card-text">{{post.text|safe|truncatechars:100}}</p>
                  <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Read More</a>
                  <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-success">Comments: {{ post.approve_comments.count }}</a>
             </div>
            <div class="card-footer text-muted">
            Published on: {{post.published_date|date:"D M Y"}}
            </div>

        </div>
    {% endfor %}
</div>
{% endblock %}
